@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: aliceblue;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
}

.name_highlight {
  color: #f58270;
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.half-width img {
  width: 100%;
}
